@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#fb-login > span {
  width: 52px !important;
  height: 52px !important;
}

#my-signin2 > div {
  width: 100%;
  border: 1px solid #eee;
}

.abcRioButtonBlue {
  border-radius: 50% !important;
  background: rgb(243 244 246) !important;
  height: 52px !important;
  width: auto !important;
}

.abcRioButtonIcon {
  background: rgb(243 244 246) !important;
}

.abcRioButtonContents {
  width: 0;
  display: none;
}